body {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/Starfield.gif);
  background-size: cover;
  display: flex;
}

.hidden {
  display: none!important;
}

.player-section {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%
}

.computer-section {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%
}

.main-game {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5%;
}

.game-types {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0.75;
}

h1, h3, .win, .winner {
  font-size: 36px;
}

.classic-game {
  border: 2px solid white;
  border-radius: 6px;
  opacity: 0.75;
}

.classic-game:hover {
  border: 2px solid white;
  border-radius: 6px;
  opacity: 1.0;
}

.advanced-game {
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 6px;
  opacity: 0.75;
}

.advanced-game:hover {
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 6px;
  opacity: 1.0;
}

.fighter-choices, .advanced-fighters {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.advanced-fighters {
  margin-top: 10%;
}

.win-screen {
  margin-top: 5%;
  width: 80%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.winner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.computer-fighter, .player-fighter {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.player {
  height: 20%;
}

.change-game {
  width: 50%;
  color: white;
  font-size: 12px;
  background-color: inherit;
  text-align: center;
  display: inline-block;
}

.fighter {
  width: 181px;
}

.text {
  color: white;
  font-family: 'copperplate', sans-serif;
}
